<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--要与mapper保持一致-->
<mapper namespace="com.example.demotest.mapper.ActiviceMapper">
    <select id="page" resultType="com.example.demotest.entity.QuestionBank">
        SELECT A.ID,
               A.description_chi,
               A.address,
               A.sign_start_date,
               A.sign_end_date,
               A.start_date,
               A.end_date,
               A.publish_status
        FROM
            biz_activity A
           <where>
               <if test="dto.description_chi!=null and dto.description_chi!=''">
                     a.description_chi like '%'||#{dto.description_chi}||'%'
               </if>
                <if test="questionBank">
                    and
                </if>
           </where>
        A.created_date DESC
    </select>


</mapper>
